* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
     font-size: 16px; /* base */
     overflow-x: hidden;
   }
   .body_product{
     font-family: 'Poppins', sans-serif;
     width: 100vw;
     max-height: 100vh;
     overflow-x: hidden;
     padding: 1rem ;
     background-color: #fafafa;
   }
   p {
     font-size: clamp(1rem, 1.2vw, 1.4rem);
   }
   h3 {
     font-size: clamp(1.2rem, 1.5vw, 1.6rem);
   }
   h2 {
     font-size: clamp(1.5rem, 2vw, 2.2rem);
   }
   h1 {
     font-size: clamp(1.8rem, 3vw, 2.8rem);
   }
label input button{
  font-size: clamp(.8rem, 1vw, 1.3rem);
}
/* ===== Base ===== */

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
p {
	margin: 0;
}
